.form {
    position: relative;
    top: 10vh;
    z-index: 1;
    background: #FFFFFF;
    width: 40%;
    height: 280px;
    margin: 0 auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .form .thumbnail {
    background: #b33333;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
  }
  .form .thumbnail img {
    position: relative;
    bottom: 25px;
    display: block;
    width: 100%;
  }
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form #login-button {
    outline: 0;
    background: #b33333;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #EF3B3A;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  
  .container {
    position: relative;
    top: 10vh;
    z-index: 1;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
  }

  .container h1 {
    position: relative;
    display: inline-block;
    font-weight: 400;
    padding: 0 20px; /* Ajusta el espacio entre el texto y los corchetes */
    color: black; /* Color del texto */
    font-size: 2rem; /* Tamaño del texto */
}

.container h1::before,
.container h1::after {
    content: '['; /* Corchete de apertura y cierre */
    position: absolute;
    color: #b33333;
    font-size: 2.5rem;
    top: -5px;
}

.container h1::before {
    left: -25px; /* Ajusta la posición del corchete de apertura */
}

.container h1::after {
    content: ']'; /* Corchete de cierre */
    right: -25px; /* Ajusta la posición del corchete de cierre */
}

  
  /* END Form */
  /* Demo Purposes */
  body {
    background: rgb(240, 240, 240);
    font-family: "Roboto", sans-serif;
  }
  
  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  