
/* Ajustes en el menú lateral */
.sidenav {
    height: calc(100% - 10vh); /* Resta la altura de la cabecera */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 0;
    background: rgb(240, 240, 240);
    border-right: 5vh solid #b33333; /* Borde rojo inicial */
    overflow-x: hidden;
    transition: width 0.25s, border-right 0.5s; /* Añadida transición para el borde */
    padding-top: 60px;
    border-top-right-radius: -10px;
}

/* Botón hamburguesa */
#button {
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 0.3vw;
    transform: translateY(-50%);
    color: white;
    transition: left 0.5s ease, opacity 0.1s ease;
    z-index: 2;
}

#button:hover {
    color: rgb(241, 170, 122);
}

/* Estilo de los enlaces del menú */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #b33333;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #db5454;
}

.sidenav .closebtn {
    position: absolute;
    top: -2vh;
    right: 0.5vh;
    font-size: 50px;
}
/* Estado abierto del menú (ajustes dinámicos) */
.sidenav.open {
    border-right: 0.5vh solid #b33333; /* Reducir el borde rojo a la mitad cuando el menú esté abierto */
}

.botton-div {
    position: absolute; /* Cambiado para que esté fijo en la parte inferior */
    bottom: 5vh; /* Asegura que esté al final del menú */
    left: 0; /* Alinea el div al lado izquierdo del menú */
    width: 100%; /* Ocupa todo el ancho del menú */
    height: 2.5vh;
    background-color: #b33333;
    padding: 20px; /* Ajusta el relleno según sea necesario */
    text-align: center; /* Centra el contenido */
    border-top: 2px solid #b33333;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.span-div{
    color: white;
    font-weight: 600;
    margin-left: 2vh;
    margin-bottom: 1vh;
}

.image-div{
    width: 2.5vw;
    margin-left: 1vw;
    margin-bottom: 10px;    
    background-color: #e2e2e2;
    border-radius: 50px;
}

.img-menu{
    width: 2.5vw;
    position: relative;
    left: 8vh;
}

.img-menu-admin{
    width: 2.5vw;
    position: relative;
    left: 8vh;
}

.span-institutos{
    position: relative;
    left: 2.5vw;
}

.span-materias{
    position: relative;
    left: 2.3vw;
}

.span-profesor{
    position: relative;
    left: 2.1vw;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.cont-menu a span{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    width: 10vw;
    bottom: 10px;
    margin-top: 20px;
    padding-left: 10px;

}

.cont-menu a {
    margin: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.cont-menu a:hover {
    background-color: #b333338f;
    margin: 0;
    padding-left: 10px;
    color: white;
}

.cont-menu{

    height: 70%;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.admin-span{
    margin-left: 10px;
}