@font-face {
    font-family: 'MiFuente';
    src: url('/Resources/Fonts/CaviarDreams.ttf') format('truetype');
}

html {
    font-family: 'MiFuente', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
}

.title::before {
    content: "[";
    color: rgb(241, 170, 122);
    margin-right: 10px; /* Ajusta el espacio entre el corchete y el texto */
}

.title::after {
    content: "]";
    color: rgb(241, 170, 122);
    margin-left: 10px; /* Ajusta el espacio entre el corchete y el texto */
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.formulario-instituto {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

.formulario-materia{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

.formulario-instituto form,.formulario-materia form {
    display: flex;
    flex-direction: column;
}

.formulario-instituto label,.formulario-materia label {
    margin-bottom: 8px;
    font-weight: bold;
}

.formulario-instituto input[type="text"],.formulario-materia input[type="text"] {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #b33333;
    border-radius: 2px;
    font-size: 16px;
    width: 70%;
    text-align: center;
}

.formulario-instituto input[type="text"]:focus,.formulario-materia input[type="text"]:focus {
    outline: none;
    border-color: #b33333;
    box-shadow: 0 0 5px rgba(179, 51, 51, 0.5);
}

.formulario-instituto input[type="button"], .formulario-materia input[type="button"]{
    width: 30%;
}

#descripcion_materia{
    height: 10vh;
}
