@font-face {
    font-family: 'MiFuente';
    src: url('/Resources/Fonts/CaviarDreams.ttf') format('truetype');
}

html {
    font-family: 'MiFuente', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
}

.alumno:hover {
    background-color: #e7e5e5; /* Gris claro */
}

.cumpleaños{
    position: relative;
    left: 15%;
    width: 83%;
    height: 5vh;
    top: 13vh;
    border: 1px solid black;
}

/* Estilos iniciales */
#desplegable {
    border: #b33333 1px solid;
    position: relative;
    top: 13vh;
    left: 73%;
    width: 25%;
    height: 5vh;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Clase para mostrar el div */
#desplegable.visible {
    opacity: 1;
    transform: scaleX(1);
}

.img-izquierda{
    height: 70%;
    width: 7%;
    margin-right: 1%;
}

.img-derecha{
    height: 70%;
    width: 7%;
    margin-left: 1%;
}

#desplegable span{
    font-weight: 600;
}


.container{
    position: relative;
    top: 15vh;
    left: 15%;
    width: 83%;
    height: 68.7vh;
    background-color: white;
    overflow-y: auto;
    margin-bottom: 4vh;
}

.container-listado{
    position: relative;
    top: 15vh;
    left: 15%;
    width: 83%;
    height: 36vh;
    background-color: white;
    overflow-y: auto;
    margin-bottom: 4vh;
}

.container-botton{
    position: relative;
    left: 15%;
    top: 15vh;
    height: 4vh;
    width: 83%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

.cantidad-asistencias{
    position: relative;
    left: 82%;
    top: 12.5vh;
    border: 1px solid #ddd;
    width: 16%;
    height: 5vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.cantidad-asistencias img {
    position: relative;
    left: 5%;
    width: 12.5%;
    height: 80%;
}

.cantidad-asistencias span{
    position: relative;
    left: 9%;
    font-weight: 600;
}



.recuperatorio{
    position: relative;
    left: 2%;
    width: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.recuperatorio label{
    font-weight: 600;
}

.select-tipo {
    text-align: center;
    width: 40%;
    padding: 8px;
    border: 1px solid #b33333;
    border-radius: 2px;
    font-size: 16px;
    color: #333;
    background-color: white;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;
}

.select-tipo::after {
    content: '▼';
    transform: translateY(-50%);
    pointer-events: none;
    color: #b33333; /* Color de la flecha */
}

.select-tipo:hover {
    border-color: white;
    background-color: rgb(240, 240, 240);
}

.select-tipo:focus {
    outline: none;
    border-color: #b33333;
    box-shadow: 0 0 5px rgba(179, 51, 51, 0.5);
}

/* Estilo para el desplegable */
.select-tipo option {
    background-color: white; /* Fondo de las opciones */
    color: #333; /* Color de texto */
    border: 1px solid #b33333; /* Bordes de las opciones (esto puede no aplicarse en todos los navegadores) */
}

.select-contenedor{
    position: relative;
    width: 50%;
    left: 3%;
}

.select-contenedor label{
    font-weight: 600;
}

#label-fecha{
    position: relative;
    top: 1vh;
}

.nota-nueva{
    height: 60%;
    border: 1px solid #b33333;
    border-radius: 2px;
    width: 60%;
    text-align: center;
}

.nota-nueva:focus{
    border: 1px solid #b33333;
    border-radius: 2px;
    text-align: center;
}

.boton-editar-nota{
    background-color: white; /* Color de fondo verde */
    color: #cc2e2e; /* Color del texto blanco */
    border: 1px solid #cc2e2e; /* Sin borde */
    font-weight: 600;
    width: 50%;
    border-radius: 2px;
    height: 90%; 
    transition: 0.3s;
}

.boton-editar-nota:hover{
    background-color: #cc2e2e;
    color: white;
    transform: scale(1.05);
}

.boton-eliminar-nota{
    background-color: white; /* Color de fondo verde */
    color: #cc2e2e; /* Color del texto blanco */
    border: 1px solid #cc2e2e; /* Sin borde */
    font-weight: 600;
    width: 80%;
    border-radius: 2px;
    height: 90%; 
    transition: 0.3s;
}

.boton-eliminar-nota:hover{
    background-color: #cc2e2e;
    color: white;
    transform: scale(1.05);
}

input[type="number"] {
    height: 80%;
    border: 1px solid #b33333;
    border-radius: 2px;
    width: 40%;
    text-align: center;
}
input[type="number"]:focus {
    outline: none;
    border-color: #b33333;
    box-shadow: 0 0 5px rgba(179, 51, 51, 0.5);
}

.div-editar-nota form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 100%;
}

.date-formulario{
    margin-left: 10px;
    height: 88%;
    border: 1px solid #b33333;
    border-radius: 2px;
    width: 90%;
    text-align: center;
}

input[type="date"] {
    margin-left: 10px;
    height: 88%;
    border: 1px solid #b33333;
    border-radius: 2px;
    width: 25%;
    text-align: center;
}
input[type="date"]:focus {
    outline: none;
    border-color: #b33333;
    box-shadow: 0 0 5px rgba(179, 51, 51, 0.5);
}

.container-materia{
    position: relative;
    top: 15vh;
    left: 15%;
    width: 83%;
    height: 50vh;
    background-color: white;
    overflow-y: auto;
}

.container-materia-notas{
    position: relative;
    top: 30vh;
    left: 15%;
    width: 83%;
    height: 50vh;
    background-color: white;
    overflow-y: auto;
}

.eliminar-alumno{
    position: relative;
    top: 15vh;
    left: 15%;
    width: 83%;
    height: 75vh;
    background-color: white;
    overflow-y: auto;
}

.container-alumnos{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: column;
}

.container-alumnos-listado{
    position: relative;
    top: 11%;
    display: flex;
    flex-direction: column;
}

.container-materias{
    position: relative;
    top: 8%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    background-color: #b33333;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
    align-items: center;
    border-radius: 2px 2px 0 0;
}

.top-listado {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #b33333;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
    align-items: center;
    border-radius: 2px 2px 0 0;
}

.boton{
    position: relative;
    top: 12vh;
    left: 0;
    right: 0.9vw;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Estilo para cuando el botón está en estado hover */
#boton_agregar:hover {
    background-color: #2ecc71;
    font-weight: 600;
    color: white;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

.subir-calificaciones{
    position: relative;
    top: 5%;
    height: 90%;
    margin-right: 1vw;
    width: 15%;
    background-color: white; 
    color: #2ecc71; 
    border: 1px solid #2ecc71; 
    font-weight: 600;
    border-radius: 2px; 
    padding: 10px 20px; 
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;  
}

.subir-calificaciones:hover{
    background-color: #2ecc71;
    color: white;
    border: none;
}

.boton-tomar-asistencia:hover{
    background-color: #2ecc71;
    color: white;
    border: none;
}


.boton-tomar-asistencia{
    position: relative;
    right: 1vw;
    height: 90%;
    margin-right: 1vw;
    width: 10%;
    background-color: white; 
    color: #2ecc71; 
    border: 1px solid #2ecc71; 
    font-weight: 600;
    border-radius: 2px; 
    padding: 10px 20px; 
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

.button-back {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor a puntero */
    width: 60px; /* Ancho del botón, ajusta según necesites */
    height: 60px; /* Alto del botón, ajusta según necesites */
    position: absolute; /* Posicionamiento absoluto */
    left: 10px; /* Alinear a la izquierda */
    top: 50%; /* Centrado verticalmente */
    transform: translateY(-50%); /* Ajustar para centrar verticalmente */
}

.button-back::before {
    content: ''; /* Contenido vacío para la flecha */
    border: solid white; /* Color de la flecha */
    border-width: 0 4px 4px 0; /* Aumentar el ancho de la flecha */
    display: inline-block; /* Para que funcione el layout */
    padding: 8px; /* Espaciado alrededor de la flecha */
    transform: rotate(135deg); /* Rotar para que se vea como flecha hacia atrás */
    position: absolute; /* Posicionar correctamente */
    top: 50%; /* Centrado verticalmente */
    left: 15px; /* Ajustar la posición a la izquierda */
    transform: translateY(-50%) rotate(135deg); /* Centrado verticalmente */
}

/* Estilo para el hover (opcional) */
.button-back:hover {
    opacity: 0.7; /* Efecto al pasar el mouse */
}

.alumno{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    height: 3vh;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.fecha_descripcion{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.fecha_descripcion-top{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.nombre_alumno_top{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.nombre-alumno{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.fecha-top{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.fecha-nota{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.nota-top{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600; 
}

.nota{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px; 
}

.materia-top{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.materia-nombre{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.editarnota-top{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.div-editar-nota{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px; 
}

.eliminarnota-top{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.div-eliminar-nota{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px; 
}

.codigo_materia{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.codigo_materia-top{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.contenedor-materia{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    height: 4vh;
    margin-bottom: 2px;
}

.contenedor-materia-top{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    height: 5vh;
    margin-bottom: 2px;
}

.nombre_materia{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.nombre_materia_top{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.mensaje-materias{
    position: relative;
    top: 20vh;
    left: 30%;
    width: 40%;
    height: 5vh;
    border-radius: 2px;
    font-weight: 600;
    border: 2px solid #b33333;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b33333;
    font-weight: 600;
}

.mensaje-alumno{
    position: relative;
    top: 30vh;
    left: 30%;
    width: 40%;
    height: 5vh;
    border-radius: 2px;
    font-weight: 600;
    border: 2px solid #b33333;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b33333;
    font-weight: 600;
}



.boton-inscribir-alumnos{
    position: relative;
    top: 35vh;
    left: 35%;
    height: 6vh;
    margin-right: 1vw;
    width: 30%;
    font-size: 2vw;
    background-color: white; 
    color: #2ecc71; 
    border: 1px solid #2ecc71; 
    font-weight: 600;
    border-radius: 2px; 
    padding: 10px 20px; 
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

.boton-inscribir-alumnos:hover{
    background-color: #2ecc71;
    color: white;
    transform: scale(1.05);
}

#formulario-incribir-materia,#formulario-eliminar-materia{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inscribir-profesor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-inscribirse-materia{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}



.div-inscribirse-materia-top{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.boton-inscribirse-materia{
    background-color: white; /* Color de fondo verde */
    color: #2ecc71; /* Color del texto blanco */
    border: 2px solid #2ecc71; /* Sin borde */
    font-weight: 600;
    width: 70%;
    border-radius: 2px;
    height: 70%; 
    transition: 0.3s;
}

.boton-inscribirse-materia:hover{
    background-color: #2ecc71;
    color: white;
    transform: scale(1.05);
}

.boton-eliminar-instituto{
    background-color: white; /* Color de fondo verde */
    color: #cc2e2e; /* Color del texto blanco */
    border: 1px solid #cc2e2e; /* Sin borde */
    font-weight: 600;
    width: 70%;
    border-radius: 2px;
    height: 70%; 
    transition: 0.3s;
}

.boton-eliminar-instituto:hover{
    background-color: #cc2e2e;
    color: white;
    transform: scale(1.05);
}

.boton-eliminar-asistencia{
    background-color: white; /* Color de fondo verde */
    color: #cc2e2e; /* Color del texto blanco */
    border: 1px solid #cc2e2e; /* Sin borde */
    font-weight: 400;
    width: 90%;
    border-radius: 2px;
    height: 70%; 
    transition: 0.3s;
}

.boton-eliminar-asistencia:hover{
    background-color: #cc2e2e;
    color: white;
    transform: scale(1.05);
}

.boton-eliminar-alumno{
    background-color: white; /* Color de fondo verde */
    color: #cc2e2e; /* Color del texto blanco */
    border: 1px solid #cc2e2e; /* Sin borde */
    font-weight: 400;
    width: 90%;
    border-radius: 2px;
    height: 70%; 
    transition: 0.3s;
}

.boton-eliminar-alumno:hover{
    background-color: #cc2e2e;
    color: white;
    transform: scale(1.05);
}
.descripcion{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.descripcion-top{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
    font-weight: 600;
}

.id-materia{
    width: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.id-materia-top{
    width: 5%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.alumno-top{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: row;
    height: 5vh;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.id{
    display: flex;
    font-size: 20px;
    width: 5%;
    justify-content: center;
    align-items: center;
}


.nombre{
    display: flex;
    font-size: 20px;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.nombre-eliminar{
    display: flex;
    font-size: 20px;
    width: 35%;
    justify-content: center;
    align-items: center;
}

.nombre-ausente{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.dni{
    display: flex;
    font-size: 20px;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.dni-eliminar{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.dni-ausente{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.fecha_nacimiento{
    display: flex;
    font-size: 20px;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.eliminar-asistencia{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.eliminar-asistencia form{
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.media-asistencia{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.asistencia{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;
}

#editar-alumno{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.media-asistencia form{
    display: flex;
    font-size: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.top-asistencia{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;font-weight: 600;
}

.calificacion-top-nombre,.calificacion-top-dni,.calificacion-top-fecha_nacimiento,.calificacion-top-asistencia{
    display: flex;
    font-size: 20px;
    width: 25%;
    justify-content: center;
    align-items: center;font-weight: 600;
}



.calificacion-clasificacion,.calificacion-fecha_nacimiento,.calificacion-dni,.calificacion-nombre{
    display: flex;
    font-size: 20px;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.top-fecha_nacimiento{
    display: flex;
    font-size: 20px;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-dni{
    display: flex;
    font-size: 20px;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-dni-eliminar{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-dni-ausentes{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.eliminar-asistencia-top{
    display: flex;
    font-size: 20px;
    width: 15%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-nombre{
    display: flex;
    font-size: 20px;
    width: 25%;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.top-nombre-eliminar{
    display: flex;
    font-size: 20px;
    width: 35%;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.top-nombre-ausentes{
    display: flex;
    font-size: 20px;
    width: 30%;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.top-id{
    display: flex;
    font-size: 20px;
    width: 5%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.top-id-ausentes{
    display: flex;
    font-size: 20px;
    width: 5%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.mensaje-asistencias-tomada{
    width: 30%;
    height: 30%;
    font-size: 1vw;
    background-color: white; 
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b33333; 
    border: 2px solid #b33333; 
}

.contenedor-lista-asistencia{
    position: relative;
    top: 8vh;
    height: 20vh;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-lista{
    position: relative;
    top: 28vh;      
    height: 20vh;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ver-listado{
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40%;

}

.ver-listado::before {
    font-size: 3vh;
    content: "[";
    color: rgb(241, 170, 122);
    margin-right: 5px; /* Ajusta el espacio entre el corchete y el texto */
}

.ver-listado::after {
    font-size: 3vh;
    content: "]";
    color: rgb(241, 170, 122);
    margin-left: 5px; /* Ajusta el espacio entre el corchete y el texto */
}

.ver-listado a {
    text-decoration: none;
    font-weight: 600;
    color: #b33333;
}